/*
  DIAGNOSTIC STYLING
*/
body {
  background: gray;
}

* {
  outline: 1px dotted black;
}

/* Your Awesome Scripts */

#tab-1{
background-color: blue;
}

#tab-2{
background-color:goldenrod;
}

#tab-3{
  background-color:cadetblue;
}